<section
  class="h-100 d-flex justify-content-center align-items-center flex-column"
>
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <img
          loading="eager"
          [src]="DRIVE_BASE_IMAGE_URL + '187ZS6LNL59sQxb9AYDqZdo_PuAWMAAzw'"
          alt="digital bond logo"
          referrerpolicy="no-referrer"
          class="object-fit-contain position-absolute top-0 start-0 m-2 m-lg-5"
          [width]="75"
          [height]="75"
        />
        <img
          [src]="DRIVE_BASE_IMAGE_URL + '1JvIdZZHHLQfGD099OvimHXWx_minwfWP'"
          loading="eager"
          src="assets/images/SVG-Animation-404-Page.gif"
          alt="digital bound not found page"
          alt="digital bond logo"
          referrerpolicy="no-referrer"
          class="img-fluid"
        />
        <div>
          <button routerLink="/" class="btn btn-main">BACK TO HOME</button>
        </div>
      </div>
    </div>
  </div>
</section>
