<div class="container py-5 my-5">
  <header>
    <h2 class="text-center header-font">
      <span class="special-header">OUR SERVICES</span
      ><span class="text-main fs-1">!</span>
    </h2>
  </header>
  <div class="row text-center align-items-center">
    <div class="p-5 col-lg-4 row justify-content-center mt-5 mt-lg-0">
      <div class="col-12 col-sm-6 col-lg-12">
        <div class="border-end border-main-color border-5 pe-3">
          <div class="py-5 px-3 mb-4 bg-white rounded shadow">
            <h3>BRANDING</h3>
            <i class="fs-1 fa-solid fa-ranking-star text-main"></i>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-12">
        <div class="border-end border-main-color border-5 pe-3">
          <div class="py-5 px-3 mb-4 bg-white rounded shadow">
            <h3>SOCIAL MEDIA</h3>
            <i class="fs-1 fa-solid fa-icons text-main"></i>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-12">
        <div class="border-end border-main-color border-5 pe-3">
          <div class="py-5 px-3 mb-4 bg-white rounded shadow">
            <h3>WEB DEVELOPMENT</h3>
            <i class="fs-1 fa-solid fa-code text-main"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div>
        <div class="Slider__Animation"></div>
      </div>
    </div>
    <div class="p-5 col-lg-4 row justify-content-center mt-5 mt-lg-0">
      <div class="col-12 col-sm-6 col-lg-12">
        <div class="border-start border-main-color border-5 ps-3">
          <div class="py-5 px-3 mb-4 bg-white rounded shadow">
            <h3>MOBILE APPS</h3>
            <i class="fs-1 fa-solid fa-mobile-screen-button text-main"></i>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-12">
        <div class="border-start border-main-color border-5 ps-3">
          <div class="py-5 px-3 mb-4 bg-white rounded shadow">
            <h3>PRODUCTION</h3>
            <i class="fs-1 fa-solid fa-chess-rook text-main"></i>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-12">
        <div class="border-start border-main-color border-5 ps-3">
          <div class="py-5 px-3 mb-4 bg-white rounded shadow">
            <h3>INFLUENCER & PR</h3>
            <i class="fs-1 fa-solid fa-magnet text-main"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
