@import "variables";

// Utilities

// background
.bg-main {
  background-color: $main-color;
}
.bg-secondary {
  background-color: $secondary-color;
}
.bg-third {
  background-color: $third-color;
}

// background opacity 25%
.bg-opacity-25-main {
  background-color: $main-opacity-25-color;
}

.bg-opacity-25-secondary {
  background-color: $secondary-opacity-25-color;
}

.bg-opacity-25-third {
  background-color: $third-opacity-25-color;
}

// background opacity 50%
.bg-opacity-50-main {
  background-color: $main-opacity-50-color;
}

.bg-opacity-50-secondary {
  background-color: $secondary-opacity-50-color;
}

.bg-opacity-50-third {
  background-color: $third-opacity-50-color;
}

// background opacity 75%
.bg-opacity-75-main {
  background-color: $main-opacity-75-color;
}

.bg-opacity-75-secondary {
  background-color: $secondary-opacity-75-color;
}

.bg-opacity-75-third {
  background-color: $third-opacity-75-color;
}

// text color
.text-main {
  color: $main-color;
}
.text-secondary {
  color: $secondary-color;
}
.text-third {
  color: $third-color;
}

.social-links {
  &__link {
    // box model
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

// border
// border
.border-main-color {
  border-color: $main-color !important;
}

.border-secondary-color {
  border-color: $secondary-color !important;
}

.border-third-color {
  border-color: $third-color !important;
}

// blur background
.blur-1 {
  backdrop-filter: blur(1px);
}

// shadow
.drop-shadow {
  filter: drop-shadow(1px 1px 1px $main-color);
}
