<header>
  <app-blank-navbar></app-blank-navbar>
  <section id="home" class="vh-100" aria-label="hero section">
    <app-hero-section></app-hero-section>
  </section>
</header>
<main>
  @defer {
  <section data-aos="zoom-out" data-aos-duration="1000" id="about">
    <app-about-us></app-about-us>
  </section>
  } @defer {
  <section id="careers">
    <app-careers></app-careers>
  </section>
  } @defer {
  <section id="services">
    <app-our-services></app-our-services>
  </section>
  } @defer {
  <section id="testimonials">
    <app-testimonials></app-testimonials>
  </section>
  } @defer {
  <section id="clients">
    <app-our-clients></app-our-clients>
  </section>
  } @defer {
  <section id="projects">
    <app-our-projects></app-our-projects>
  </section>
  } @defer {
  <section id="contactus">
    <app-contact-us></app-contact-us>
  </section>
  }
</main>
