<header>
  <app-blank-navbar></app-blank-navbar>
  <section id="home" class="vh-100" aria-label="hero section">
    <app-hero-section></app-hero-section>
  </section>
</header>
<main>
  <section id="about">
    <app-about-us></app-about-us>
  </section>
  <section id="services">
    <app-our-services></app-our-services>
  </section>
  <section id="projects">
    <app-our-projects></app-our-projects>
  </section>
  <section id="careers">
    <!-- <app-customers-reviews></app-customers-reviews> -->
  </section>
  <section id="testimonials">
    <app-testimonials></app-testimonials>
  </section>
  <section id="clients">
    <!-- <app-our-clients></app-our-clients> -->
  </section>
  <section id="contactus">
    <app-contact-us></app-contact-us>
  </section>
</main>
