<!-- Main routing for blank layout and auth layout -->
<div
  data-bs-spy="scroll"
  data-bs-target="#NavSpy"
  data-bs-root-margin="0px 0px -60%"
  data-bs-smooth-scroll="true"
  tabindex="0"
>
  <router-outlet></router-outlet>
</div>

<div>
  <footer>
    <app-footer></app-footer>
  </footer>

  <!-- Loading Spinner -->
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="var(--secondary-color-green)"
    type="ball-atom"
    [fullScreen]="true"
    ><p class="mt-5 h1 text-center header-font" style="color: white">
      <span class="mt-5 pt-5 d-block mx-auto text-center">
        <img
          width="250"
          [src]="DRIVE_BASE_IMAGE_URL + '1q4N8KNQMMJv0sAoy4GINjI-a-GAoWmWV'"
          alt="spinnger loading logo digital bond"
        />
      </span>
      Digital Bond
    </p></ngx-spinner
  >
</div>
