<div class="container py-5 my-5">
  <div class="row pt-5">
    <div class="col-lg-6 mb-4 mb-lg-0">
      <div>
        <img
          loading="eager"
          [src]="DRIVE_BASE_IMAGE_URL + '1CThqgAe5Fuwkp9581Y7mVIsSoSHlZNhi'"
          alt="digital bond meetings"
          referrerpolicy="no-referrer"
          class="object-fit-contain img-fluid rounded"
        />
      </div>
    </div>
    <div class="col-lg-6">
      <div>
        <header>
          <h2
            data-aos="flip-right"
            data-aos-duration="1000"
            class="header-font special-header mb-4"
          >
            ABOUT THE BONDERS<span class="text-main fs-1">!</span>
          </h2>
          <p
            data-aos="flip-right"
            data-aos-duration="1000"
            class="bg-white p-3 rounded"
          >
            Bonders are a blend of cheerful, uprising and creative peeps working
            to deliver outstanding services. We are committed and loyalty runs
            in the veins; when we are put together our results blow minds.
          </p>
        </header>
        <h3
          data-aos="flip-right"
          data-aos-duration="1000"
          class="header-font special-header mb-4"
        >
          Your brand, our strength: together, let's transform your ideas into
          legends.
        </h3>
        <p
          data-aos="flip-right"
          data-aos-duration="1000"
          class="bg-white p-3 rounded"
        >
          Digital Bond Marketing Lab is more than just our name — it's a
          testament to our commitment to elevating brands to their fullest
          potential. With years of experience, a team of creative geniuses, and
          a relentless drive for excellence, we're dedicated to making your
          brand unforgettable..
        </p>
        <div class="row mb-4">
          <div class="col-2">
            <div
              class="bg-main text-white d-flex justify-content-center align-items-center py-4 rounded-start-3"
            >
              <i class="fs-3 fa-solid fa-user-group"></i>
            </div>
          </div>
          <div class="col-10">
            <div data-aos="flip-right" data-aos-duration="1000">
              <h3 class="header-font special-header mb-4">
                Customized Strategies
              </h3>
              <p class="mb-0 bg-white p-3 rounded">
                Tailored branding strategies that resonate with your unique
                brand identity and market needs.
              </p>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-2">
            <div
              class="bg-main text-white d-flex justify-content-center align-items-center py-4 rounded-start-3"
            >
              <i class="fs-3 fa-regular fa-lightbulb"></i>
            </div>
          </div>
          <div class="col-10">
            <div data-aos="flip-right" data-aos-duration="1000">
              <h3 class="header-font special-header mb-4">
                Boundless Creativity
              </h3>
              <p class="mb-0 bg-white p-3 rounded">
                With a company full of enthusiasm and ideas, we're constantly
                exploring new and unconventional ways to capture the essence of
                your brand and communicate it effectively.
              </p>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-2">
            <div
              class="bg-main text-white d-flex justify-content-center align-items-center py-4 rounded-start-3"
            >
              <i class="fs-3 fa-solid fa-bolt"></i>
            </div>
          </div>
          <div class="col-10">
            <div data-aos="flip-right" data-aos-duration="1000">
              <h3 class="header-font special-header mb-4">
                Agile and Adaptable
              </h3>
              <p class="mb-0 bg-white p-3 rounded">
                Our dynamic nature allows us to adapt quickly to market changes
                and client needs, ensuring that our strategies are always ahead
                of the curve.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
