<div class="mt-5 position-relative">
  <div
    class="bg-dark text-white bg-opacity-75 py-5 position-relative shadow-lg"
  >
    <div class="container-fluid py-5">
      <div>
        <header class="mb-5">
          <h2 class="text-center header-font">
            <span class="special-header bg-light bg-opacity-10 px-5 rounded"
              >Digital Bond In Numbers<span class="text-main">!</span>
            </span>
          </h2>
        </header>
        <div class="row g-4 text-center">
          <div class="col-md-6 col-lg-3">
            <div data-aos="fade-up" data-aos-duration="1000">
              <div class="bg-light bg-opacity-75 shadow-lg py-5 rounded">
                <div data-aos="fade-up" data-aos-duration="1000">
                  <i class="fa-solid fa-chart-line fs-1 text-main"></i>
                  <h3 class="drop-shadow mt-3 mb-1 header-font">
                    Creative Ideas
                  </h3>
                  <span
                    class="text-dark fw-bolder fs-3"
                    [countUp]="999"
                    [options]="{ enableScrollSpy: true, duration: 1.5 }"
                    >0</span
                  >
                  <span class="text-main text-opacity-75 fw-bolder fs-3"
                    >+</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div data-aos="fade-up" data-aos-duration="1000">
              <div class="bg-light bg-opacity-75 shadow-lg py-5 rounded">
                <div data-aos="fade-up" data-aos-duration="1000">
                  <i class="fa-regular fa-thumbs-up fs-1 text-main"></i>
                  <h3 class="drop-shadow mt-3 mb-1 header-font">
                    Success Partners
                  </h3>
                  <span
                    class="text-dark fw-bolder fs-3"
                    [countUp]="10"
                    [options]="{ enableScrollSpy: true, duration: 1.5 }"
                    >0</span
                  >
                  <span class="text-main text-opacity-75 fw-bolder fs-3"
                    >+</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div data-aos="fade-up" data-aos-duration="1000">
              <div class="bg-light bg-opacity-75 shadow-lg py-5 rounded">
                <div data-aos="fade-up" data-aos-duration="1000">
                  <i class="fa-solid fa-user-clock fs-1 text-main"></i>
                  <h3 class="drop-shadow mt-3 mb-1 header-font">
                    Pending Projects
                  </h3>
                  <span
                    class="text-dark fw-bolder fs-3"
                    [countUp]="55"
                    [options]="{ enableScrollSpy: true, duration: 1.5 }"
                    >0</span
                  >
                  <span class="text-main text-opacity-75 fw-bolder fs-3"
                    >+</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div data-aos="fade-up" data-aos-duration="1000">
              <div class="bg-light bg-opacity-75 shadow-lg py-5 rounded">
                <div data-aos="fade-up" data-aos-duration="1000">
                  <i class="fa-regular fa-face-laugh-beam fs-1 text-main"></i>
                  <h3 class="drop-shadow mt-3 mb-1 header-font">
                    Satisfied Clients
                  </h3>
                  <span
                    class="text-dark fw-bolder fs-3"
                    [countUp]="95"
                    [options]="{ enableScrollSpy: true, duration: 1.5 }"
                    >0</span
                  >
                  <span class="text-main text-opacity-75 fw-bolder fs-3"
                    >+</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <img
          class="position-absolute start-0 top-0 w-100 h-100 z-n1"
          [src]="DRIVE_BASE_IMAGE_URL + '1ar0SRbSUbiQHnUZutw_o-AX8fd8cqesv'"
          alt="digital bond creative commitment"
          referrerpolicy="no-referrer"
          loading="lazy"
        />
      </div>
    </div>
  </div>
  <img
    width="50px"
    src="assets/images/sections_separators/1.png"
    role="presentation"
    class="position-absolute bottom-100 start-0 ms-3 fa-spin"
  />
</div>
