<div class="h-100 text-white">
  <div class="h-100">
    <div id="heroSectionCarousel" class="carousel slide h-100">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#heroSectionCarousel"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#heroSectionCarousel"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#heroSectionCarousel"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#heroSectionCarousel"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
        <button
          type="button"
          data-bs-target="#heroSectionCarousel"
          data-bs-slide-to="4"
          aria-label="Slide 5"
        ></button>
        <button
          type="button"
          data-bs-target="#heroSectionCarousel"
          data-bs-slide-to="5"
          aria-label="Slide 6"
        ></button>
        <button
          type="button"
          data-bs-target="#heroSectionCarousel"
          data-bs-slide-to="6"
          aria-label="Slide 7"
        ></button>
      </div>

      <div class="carousel-inner h-100">
        <div class="carousel-item h-100 active">
          <div
            class="h-100 d-flex align-items-center w-100 position-relative bg-dark bg-opacity-75"
          >
            <div class="ps-md-5 ms-md-3">
              <img
                [src]="
                  DRIVE_BASE_IMAGE_URL + '13JaGero8wYhFAZBb_RtnI9KutXsMFBR5'
                "
                alt="digital bond hero image"
                class="position-absolute top-0 start-0 end-0 w-100 h-100 z-n1"
                referrerpolicy="no-referrer"
              />
              <div>
                <div class="col-md-8">
                  <div
                    class="container-fluid paragraph__container shadow-lg rounded-3 overflow-hidden px-3 py-5"
                  >
                    <p class="fs-1 fw-bold special-header">
                      Google recognizes
                      <img
                        loading="eager"
                        [src]="
                          DRIVE_BASE_IMAGE_URL +
                          '187ZS6LNL59sQxb9AYDqZdo_PuAWMAAzw'
                        "
                        alt="digital bond logo"
                        referrerpolicy="no-referrer"
                        class="red__logo mx-2"
                        [width]="80"
                        [height]="55"
                      />
                      for its media unification strategy at 2024 Agency
                      Excellence Awards.
                    </p>
                    <p class="fs-5 text-light text-opacity-75">
                      November, 2024: Agency recognized for their strategic and
                      omnichannel approach, taking home top honors in the highly
                      coveted Media Unification category.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item h-100">
          <div
            class="h-100 d-flex align-items-center w-100 position-relative bg-dark bg-opacity-75"
          >
            <div class="ps-md-5 ms-md-3">
              <img
                [src]="
                  DRIVE_BASE_IMAGE_URL + '1YmJKJnB3BQvfGG7MYxYKPCQwEs3CZp13'
                "
                alt="digital bond hero image"
                class="position-absolute top-0 start-0 end-0 w-100 h-100 z-n1"
                referrerpolicy="no-referrer"
              />
              <div>
                <div class="container-fluid paragraph__container">
                  <p class="fs-1 fw-bold col-md-8">
                    Google recognizes NP Digital for its media unification
                    strategy at 2024 Agency Excellence Awards.
                  </p>
                  <p class="fs-5 col-md-8 text-light text-opacity-75">
                    November, 2024: Agency recognized for their strategic and
                    omnichannel approach, taking home top honors in the highly
                    coveted Media Unification category.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item h-100">
          <div
            class="h-100 d-flex align-items-center w-100 position-relative bg-dark bg-opacity-75"
          >
            <div class="ps-md-5 ms-md-3">
              <img
                [src]="
                  DRIVE_BASE_IMAGE_URL + '1UfKECDDdaHXilV-Imwvh9GG7iDPRkPWs'
                "
                alt="digital bond hero image"
                class="position-absolute top-0 start-0 end-0 w-100 h-100 z-n1"
                referrerpolicy="no-referrer"
              />
              <div>
                <div class="container-fluid paragraph__container">
                  <p class="fs-1 fw-bold col-md-8">
                    Google recognizes NP Digital for its media unification
                    strategy at 2024 Agency Excellence Awards.
                  </p>
                  <p class="fs-5 col-md-8 text-light text-opacity-75">
                    November, 2024: Agency recognized for their strategic and
                    omnichannel approach, taking home top honors in the highly
                    coveted Media Unification category.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item h-100">
          <div
            class="h-100 d-flex align-items-center w-100 position-relative bg-dark bg-opacity-75"
          >
            <div class="ps-md-5 ms-md-3">
              <img
                [src]="
                  DRIVE_BASE_IMAGE_URL + '1SxxrUsECCo4R07VciES55_Vq7koYakgc'
                "
                alt="digital bond hero image"
                class="position-absolute top-0 start-0 end-0 w-100 h-100 z-n1"
                referrerpolicy="no-referrer"
              />
              <div>
                <div class="container-fluid paragraph__container">
                  <p class="fs-1 fw-bold col-md-8">
                    Google recognizes NP Digital for its media unification
                    strategy at 2024 Agency Excellence Awards.
                  </p>
                  <p class="fs-5 col-md-8 text-light text-opacity-75">
                    November, 2024: Agency recognized for their strategic and
                    omnichannel approach, taking home top honors in the highly
                    coveted Media Unification category.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item h-100">
          <div
            class="h-100 d-flex align-items-center w-100 position-relative bg-dark bg-opacity-75"
          >
            <div class="ps-md-5 ms-md-3">
              <img
                [src]="
                  DRIVE_BASE_IMAGE_URL + '1w4FNCAnY4zdbDaITl7kv4aU_KXUYTStJ'
                "
                alt="digital bond hero image"
                class="position-absolute top-0 start-0 end-0 w-100 h-100 z-n1"
                referrerpolicy="no-referrer"
              />
              <div>
                <div class="container-fluid paragraph__container">
                  <p class="fs-1 fw-bold col-md-8">
                    Google recognizes NP Digital for its media unification
                    strategy at 2024 Agency Excellence Awards.
                  </p>
                  <p class="fs-5 col-md-8 text-light text-opacity-75">
                    November, 2024: Agency recognized for their strategic and
                    omnichannel approach, taking home top honors in the highly
                    coveted Media Unification category.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item h-100">
          <div
            class="h-100 d-flex align-items-center w-100 position-relative bg-dark bg-opacity-75"
          >
            <div class="ps-md-5 ms-md-3">
              <img
                [src]="
                  DRIVE_BASE_IMAGE_URL + '1Sml7DElcP0f8ix814OhUMOocJIMGcGfG'
                "
                alt="digital bond hero image"
                class="position-absolute top-0 start-0 end-0 w-100 h-100 z-n1"
                referrerpolicy="no-referrer"
              />
              <div>
                <div class="container-fluid paragraph__container">
                  <p class="fs-1 fw-bold col-md-8">
                    Google recognizes NP Digital for its media unification
                    strategy at 2024 Agency Excellence Awards.
                  </p>
                  <p class="fs-5 col-md-8 text-light text-opacity-75">
                    November, 2024: Agency recognized for their strategic and
                    omnichannel approach, taking home top honors in the highly
                    coveted Media Unification category.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item h-100">
          <div
            class="h-100 d-flex align-items-center w-100 position-relative bg-dark bg-opacity-75"
          >
            <div class="ps-md-5 ms-md-3">
              <img
                [src]="
                  DRIVE_BASE_IMAGE_URL + '1ihyhhc5N3ZCwEN5-a5eq-IA9Am2juaCj'
                "
                alt="digital bond hero image"
                class="position-absolute top-0 start-0 end-0 w-100 h-100 z-n1"
                referrerpolicy="no-referrer"
              />
              <div>
                <div class="container-fluid paragraph__container">
                  <p class="fs-1 fw-bold col-md-8">
                    Google recognizes NP Digital for its media unification
                    strategy at 2024 Agency Excellence Awards.
                  </p>
                  <p class="fs-5 col-md-8 text-light text-opacity-75">
                    November, 2024: Agency recognized for their strategic and
                    omnichannel approach, taking home top honors in the highly
                    coveted Media Unification category.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-0 top-50 end-0 me-2 position-absolute translate-middle-y">
        <button
          class="d-none d-md-block mb-5 btn bg-transparent bg-danger rounded-0 border z-1 position-relative carousel__Buttons"
          type="button"
          data-bs-target="#heroSectionCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
      </div>
      <div class="p-0 top-50 end-0 me-2 position-absolute">
        <button
          class="d-none d-md-block btn bg-transparent bg-danger rounded-0 border z-1 position-relative carousel__Buttons"
          type="button"
          data-bs-target="#heroSectionCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
