<div class="footer--main-color text-white">
  <div class="container">
    <div class="row g-4 py-5 text-center text-md-start">
      <div class="col-md-6 col-lg-4">
        <div>
          <img
            loading="eager"
            [src]="DRIVE_BASE_IMAGE_URL + '1Zjjk4715-f2Z7qmV-8yZBj2Ewy2IIDyE'"
            alt="digital bond logo"
            referrerpolicy="no-referrer"
          />
          <h2 class="my-3 pb-2">
            <span class="border-bottom pb-2 border-3">The Bonders Are</span>
          </h2>
          <p>
            A bonded family that mix and match creativity and commitment to help
            brands go beyond the limit.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div>
          <h2 class="mb-3 pb-2">
            <span class="border-bottom pb-2 border-3"
              >Get in touch <i class="ms-1 fa-regular fa-comment-dots"></i
            ></span>
          </h2>
          <ul class="list-unstyled">
            <li class="mb-3">
              <a
                class="text-white text-decoration-none"
                href="https://wa.me/+201021551322"
                ><i class="fa-solid fa-mobile-screen-button me-1 fa-fw"></i> +20
                1021551322</a
              >
            </li>
            <li class="mb-3">
              <a
                class="text-white text-decoration-none"
                href="mailto:Bonder@digitalbondmena.com"
                ><i class="fa-solid fa-envelope me-1 fa-fw"></i>
                Bonder&commat;digitalbondmena.com</a
              >
            </li>
            <li class="mb-3">
              <a
                class="text-white text-decoration-none"
                href="https://goo.gl/maps/Xy4S5zirTme48gcj9"
                ><i class="fa-solid fa-map-location-dot me-1 fa-fw"></i> 11
                Ahmed Al Shatouri, Ad Dokki, Giza Governorate</a
              >
            </li>
          </ul>
          <ul
            class="ms-3 list-unstyled d-flex gap-4 justify-content-center justify-content-md-start"
          >
            <li class="fs-3">
              <a
                class="text-white"
                href="https://www.facebook.com/DigitalBondMena/"
                target="_blank"
                aria-label="find us on facebook"
              >
                <i class="fa-brands fa-facebook"></i>
              </a>
            </li>
            <li class="fs-3">
              <a
                class="text-white"
                href="https://www.instagram.com/digitalbondmena/"
                target="_blank"
                aria-label="find us on instagram"
              >
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
            <li class="fs-3">
              <a
                class="text-white"
                href="https://www.linkedin.com/company/digital-bond/"
                target="_blank"
                aria-label="find us on linkedin"
              >
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </li>
            <li class="fs-3">
              <a
                class="text-white"
                href="https://www.tiktok.com/@digitalbondmena"
                target="_blank"
                aria-label="find us on tiktok"
              >
                <i class="fa-brands fa-tiktok"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div>
          <h2 class="pb-3">
            <span class="border-bottom pb-3 border-3"
              >Explore more <i class="m1-4 fa-solid fa-angles-right"></i
            ></span>
          </h2>
          <ul class="list-unstyled footer-routing">
            <li>
              <a class="nav-link" href="#home"
                >Home <i class="ms-4 fa-solid fa-angles-right"></i
              ></a>
            </li>
            <li>
              <a class="nav-link" href="#about"
                >About <i class="ms-4 fa-solid fa-angles-right"></i
              ></a>
            </li>
            <li>
              <a class="nav-link" href="#services"
                >Services <i class="ms-4 fa-solid fa-angles-right"></i
              ></a>
            </li>
            <li>
              <a class="nav-link" href="#testimonials"
                >Testimonials <i class="ms-4 fa-solid fa-angles-right"></i
              ></a>
            </li>
            <li>
              <a class="nav-link" href="#clients"
                >Clients <i class="ms-4 fa-solid fa-angles-right"></i
              ></a>
            </li>
            <li>
              <a class="nav-link" href="#careers"
                >Careers <i class="ms-4 fa-solid fa-angles-right"></i
              ></a>
            </li>
            <li>
              <a class="nav-link" href="#contactus"
                >Contact Us <i class="ms-4 fa-solid fa-angles-right"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottomSection">
    <p class="mb-0 text-center py-3">
      Copyright © 2024
      <a class="text-decoration-none" href="/">
        <img
          loading="eager"
          [src]="DRIVE_BASE_IMAGE_URL + '1Zjjk4715-f2Z7qmV-8yZBj2Ewy2IIDyE'"
          alt="digital bond logo"
          referrerpolicy="no-referrer"
          class="object-fit-contain mx-2"
          [height]="55"
        />
      </a>
      All rights reserved
    </p>
  </div>
</div>
