<nav id="NavSpy" class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        loading="eager"
        [src]="DRIVE_BASE_IMAGE_URL + '187ZS6LNL59sQxb9AYDqZdo_PuAWMAAzw'"
        alt="digital bond logo"
        referrerpolicy="no-referrer"
        class="object-fit-contain red__logo"
        [width]="70"
        [height]="45"
      />
      <img
        loading="eager"
        [src]="DRIVE_BASE_IMAGE_URL + '1Zjjk4715-f2Z7qmV-8yZBj2Ewy2IIDyE'"
        alt="digital bond logo"
        referrerpolicy="no-referrer"
        class="object-fit-contain white__logo"
        [width]="70"
        [height]="45"
      />
    </a>
    <button
      class="bg-transparent border-0 d-lg-none d-block"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="text-white fs-4 fa-solid fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse pt-4 pt-lg-0"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          class="nav-item"
        >
          <a class="nav-link px-3 active" aria-current="page" href="#home"
            ><span>Home</span></a
          >
        </li>
        <li
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          class="nav-item"
        >
          <a class="nav-link px-3" href="#about"><span>About</span></a>
        </li>
        <li
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          class="nav-item"
        >
          <a class="nav-link px-3" href="#services"><span>Services</span></a>
        </li>
        <li
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          class="nav-item"
        >
          <a class="nav-link px-3" href="#testimonials"
            ><span>Testimonials</span></a
          >
        </li>
        <li
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          class="nav-item"
        >
          <a class="nav-link px-3" href="#clients"><span>Clients</span></a>
        </li>
        <li
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          class="nav-item"
        >
          <a class="nav-link px-3" href="#careers"><span>Careers</span></a>
        </li>
        <li
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          class="nav-item"
        >
          <a class="nav-link px-3" href="#contactus"><span>Contact</span> Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
