<div class="py-5 my-5">
  <div class="container py-5">
    <header class="mb-4">
      <h2 class="text-center header-font">
        <span class="special-header text-uppercase">Our partners</span
        ><span class="text-main fs-1"
          ><i class="fa-solid fa-ribbon fs-2 ms-1 text-main"></i
        ></span>
      </h2>
    </header>
    <div class="row justify-content-center">
      <div class="col-3 col-lg-2 drop-shadow">
        <div data-aos="flip-right" data-aos-duration="1000">
          <img
            loading="lazy"
            class="w-100"
            src="assets/images/our partners/google.png"
            alt="digital bond partner google"
          />
        </div>
      </div>
      <div class="col-3 col-lg-2 drop-shadow">
        <div data-aos="flip-right" data-aos-duration="1000">
          <img
            loading="lazy"
            class="w-100"
            src="assets/images/our partners/github.png"
            alt="digital bond partner google"
          />
        </div>
      </div>
      <div class="col-3 col-lg-2 drop-shadow">
        <div data-aos="flip-right" data-aos-duration="1000">
          <img
            loading="lazy"
            class="w-100"
            src="assets/images/our partners/linkedin.png"
            alt="digital bond partner google"
          />
        </div>
      </div>
      <div class="col-3 col-lg-2 drop-shadow">
        <div data-aos="flip-right" data-aos-duration="1000">
          <img
            loading="lazy"
            class="w-100"
            src="assets/images/our partners/google_ads.png"
            alt="digital bond partner google"
          />
        </div>
      </div>
      <div class="col-3 col-lg-2 drop-shadow">
        <div data-aos="flip-right" data-aos-duration="1000">
          <img
            loading="lazy"
            class="w-100"
            src="assets/images/our partners/meta.png"
            alt="digital bond partner google"
          />
        </div>
      </div>
    </div>
  </div>
</div>
